<section class="w-75 my-2 p-5 mx-auto bg-main-light">
    <div class="d-flex justify-content-between align-items-center">
        <h1>Shopping Cart</h1>
        <button (click)="clearCart()" class="btn text-danger border-danger">

            Empty Cart
        </button>
    </div>
    <p class="text-main">Total products Price :{{cartDetails.totalCartPrice}}</p>
    <div class="row py-4" *ngFor="let cart of cartDetails.products">
        <div class="col-md-1">
            <div>
                <img [src]="cart.product.imageCover" alt="" class="w-100">
            </div>
        </div>
        <div class="col-md-11">

            <div class="d-flex justify-content-between">
                            <!-- details -->
            <div>
                <h2 class="h5">{{cart.product.title}}</h2>
                <p class="h5">Price : {{cart.price}}</p>
                <button class="btn m-0 p-0 text-danger border-0" (click)="remveItem(cart.product._id)">
                    <i class="fa-regular fa-trash-can text-danger"></i>
                    Remove
                </button>
            </div>

            <!-- btns -->
            <div>
                <button class="btn  border border-success" (click)="updateCart(cart.product._id , cart.count+1)">+</button>
                <span class="mx-2">{{cart.count}}</span>
                <button class="btn  border border-success" (click)="updateCart(cart.product._id , cart.count-1)">-</button>
            </div>
            </div>
        </div>
    </div>
    <button class="btn-main" [routerLink]="['/checkout' , cartDetails._id]">Pay Now</button>
</section>