<section class="w-75 mx-auto p-2 m-2">
    <div class="row align-items-center">
        <div class="col-md-4">
           
            <owl-carousel-o [options]="productDetailsSlider">

                <ng-container *ngFor="let src of productDetails.images">
                  <ng-template carouselSlide >
                    <div class="image">
                        <img [src]="src" class="w-100">
                    </div>
                  </ng-template>
                </ng-container>
            
              </owl-carousel-o>
        </div>
        <div class="col-md-8">
            <div>
                <h3>{{productDetails.title}}</h3>
                <p class="text-muted">
                    {{productDetails.description}}
                </p>
                <p>{{productDetails.category.name}}</p>
                <div class="d-flex justify-content-between align-content-center mb-2">
                    <span>{{productDetails.price}} EGP</span>
                    <span>
                        <i class="fas fa-star rating-color"></i>
                        {{productDetails.ratingAverage}}
                    </span>
                </div>
                <button class="w-100 btn-main" (click)="addToCart(productDetails._id)">
                    <i class="fas fa-plus"></i>
                    
                    Add to cart
                </button>
            </div>
        </div>
    </div>
</section>